.Forebud-prøve-EKSTERN{
    transform: translate(57.6px, 81px);
    color: aqua;
    rotate: 17deg;
}
.Forebud-prøve-Alnal{
    height: 200px;
    width: 200px;
    border: 2px solid;
    border-color: aqua;
    border-radius: 20%;
    transition: all ease 1s;
}

.Forebud-prøve-Alnal:hover{
    scale: 1.1;
    rotate: 20deg;
    box-shadow: 0 0 15px aqua;
}
body{
background: linear-gradient(#1d024e, #150000);
color: rgba(171, 245, 245, 0.799);
overflow-x: hidden;
}

a{
    text-decoration: none;
    color: rgba(158, 31, 94, 0.817);
}

.Forebud-prøve-responsiv{
 color: aquamarine;   
 background-color: rgb(0, 136, 255);
 box-shadow: 0 0 7px rgb(0, 136, 255);
 width: fit-content;
 height: fit-content;
transition: all ease 0.5s;
}

.Forebud-prøve-responsiv:hover{
color: rgb(0, 136, 255);
background-color: rgb(127, 255, 212);
box-shadow: 0 0 7px rgb(127, 255, 212);
rotate: 5deg;
scale: 1.1;
}

.tilbake {
    transform: translate(6px, 10px);
    width: 129px;
    height: 40px;
    border-radius: 20px;
    border: none;


    background: rgba(113, 3, 3, 0.386);
    backdrop-filter: blur(25px) saturate(180%);

    color: #ffffff;
    font-size: 1.05rem;
    font-weight: 600;

    box-shadow:
        0 6px 25px rgba(88, 1, 82, 0.12),
        0 0 20px rgba(38, 1, 102, 0.18),
        inset 0 0 0 1px rgba(101, 25, 25, 0.14);

    cursor: pointer;
    transition: 0.5s ease;
}

.tilbake:hover {
    background-color: #ad040481;
    color: rgba(6, 168, 168, 0.473);
    box-shadow: 0 0 20px red;
    transform: translate(6px, 10px) scale(1.02);
}