/* Background gradient and animated overlays */
body {
    background: radial-gradient(circle at top, #1d024e, #150000 80%);
    color: #aed9f8;
    overflow-x: hidden;
    overflow-y: hidden;

}


body::before {
    content: "";
    position: fixed;
    inset: 0;
    background:
        radial-gradient(circle at 30% 40%,
            rgba(0, 162, 255, 0.183),
            transparent 60%),
        radial-gradient(circle at 70% 75%,
            rgba(150, 70, 255, 0.281),
            transparent 60%);
    animation: bgShimmer 10s ease-in-out infinite alternate;
    pointer-events: none;
}

@keyframes bgShimmer {
    0% {
        opacity: 0.1;
        transform: scale(1);
    }

    100% {
        opacity: 1;
        transform: scale(1.17);
    }
}
/* Particle styles */
.particle { 
    position: fixed;
    width: 10px;
    height: 10px;
    background: rgba(192, 1, 1, 0.927);
    border-radius: 50%;
    pointer-events: none;
    animation: floatUpanddown 2s linear forwards infinite, particlecolorchange 4s linear infinite;
}
@keyframes floatUpanddown {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    50% {
        transform: translateY(-20px);
        opacity: 0.7;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes particlecolorchange {
    0% {
        background: rgba(3, 239, 200, 0.8);
    }
    50% {
        background: rgba(232, 23, 23, 0.8);
    }
    100% {
        background: rgba(26, 249, 15, 0.8);
    }
}

/* particle button style */
.particlebutton {
    background-color: #6d13d4c7;
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition-duration: 0.4s;
}
.particlebutton:hover {
    background-color: #ffffff; 
    color: #6d13d4c7;
    scale: 1.1;
    rotate: 10deg;
}